 <CascadingAuthenticationState> 
<Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ShopLayout)">
                <NotAuthorized>
                    <h3>wHOOPS YOU AINT AUTHORIXEXD GODDAMN YOU</h3>
                    <h5>pLEASE <a href="login">login</a> or <a href="register">refistger</a> for a new acctnt</h5>
                </NotAuthorized>
             </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
         </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(ShopLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>  